            <!DOCTYPE html>
            <html>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
            <script src="movieApp.js"></script>
            <!-- <script src="movieController.js"></script> -->


            <body>
                <h2>Please enter your username and password here:</h2>
                <div ng-app="myMovieApp" >
                    <table>
                        <tr>
                            <td align="right">Username:</td>
                            <td align="left"><input type="text" ng-model="username"></td>
                        </tr>
                        <tr>
                            <td align="right">Password:</td>
                            <td align="left"><input type="password" ng-model="password"></td>
                        </tr>
                        <tr>
                            <td align="left"><button ng-click="check(username,password)">Submit</button></td>
                        </tr>
                    </table>

                    <p><a href = "#/movies.html">View Movies</a></p>
                    <p><a href = "#/error.html">Error Page</a></p>

                    <div ng-view></div>

                </div>

            </body>
            </html>
